---
import Layout from '@/layouts/Layout.astro';
import Provincias from "../components/Provincias.astro";
---

<Layout title="METEOLLAX" >
	<h1 class="px-3 py-20 text-white font-bold text-2xl flex justify-center items-center">EL TIEMPO EN ESPAÑA</h1>
	<!-- https://www.el-tiempo.net/api/json/v2/home -->
	<Provincias  class="bg-gray-100" />
</Layout>