---
import { navigate } from "astro:content";
---

<div id="comunidades-autonomas">

</div>


<script>
    const apiUrl = 'https://www.el-tiempo.net/api/json/v2/home';

    function organizarPorComunidadAutonoma(provincias) {
        const comunidades = {};
        provincias.forEach(provincia => {
            const comunidad = provincia.COMUNIDAD_CIUDAD_AUTONOMA;
            if (!comunidades[comunidad]) {
                comunidades[comunidad] = [];
            }
            comunidades[comunidad].push(provincia);
        });
        return comunidades;
    }

    function generarHTML(comunidades) {
        const comunidadesDiv = document.getElementById('comunidades-autonomas');
        for (const comunidad in comunidades) {
            const provincias = comunidades[comunidad];
            const comunidadDiv = document.createElement('div');
            comunidadDiv.classList.add('bg-white', 'shadow', 'rounded', 'p-4', 'mb-4');
            comunidadDiv.innerHTML = `<h2 class="text-lg font-semibold mb-2">${comunidad}</h2>`;
            const provinciasList = document.createElement('ul');
            provinciasList.classList.add('list-disc', 'pl-4', 'list-none','cursor-pointer'); // Agregar 'list-none' para quitar la decoración
            provincias.forEach(provincia => {
                const provinciaItem = document.createElement('li');
                provinciaItem.classList.add('hover:text-blue-600', 'hover:drop-shadow-xl', 'transition', 'duration-300');

                provinciaItem.textContent = provincia.NOMBRE_PROVINCIA;
                provinciaItem.addEventListener('click', () => {
                    // Guardar el nombre de la provincia en una cookie
                    document.cookie = `provinciaSeleccionada=${provincia.NOMBRE_PROVINCIA}`;
                    // Redirigir a otra vista
                    window.location.href = '/TiempoProvincia/';
                });
                provinciasList.appendChild(provinciaItem);
            });
            comunidadDiv.appendChild(provinciasList);
            comunidadesDiv.appendChild(comunidadDiv);
        }
    }

    fetch(apiUrl)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const comunidades = organizarPorComunidadAutonoma(data.provincias);
            generarHTML(comunidades);
        })
        .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
        });
</script>

<style>
    /* Estilos personalizados */
    #comunidades-autonomas {
        max-width: 800px; /* Ancho máximo del contenido */
        margin: 0 auto; /* Centrar horizontalmente */
        padding: 20px; /* Añadir espacio alrededor del contenido */
    }
</style>